# **Fungsi dan Argumen**

## **Fungsi Matematis**

### **Sederhana**

In [1]:
def hitung_luas_segitiga(tinggi, alas):
    luas = 0.5 * tinggi * alas
    return luas

In [2]:
luas = hitung_luas_segitiga(8, 9)

In [3]:
luas

36.0

In [4]:
tinggi_segitiga = [5, 8, 10, 6, 7]
alas_segitiga = [3, 6, 4, 9, 8]

In [5]:
luas_segitiga_idx = hitung_luas_segitiga(tinggi_segitiga[0], alas_segitiga[0])

In [6]:
luas_segitiga_idx

7.5

In [7]:
luas_segitiga_orlist = [hitung_luas_segitiga(tinggi_segitiga[i], alas_segitiga[i]) for i in range(len(tinggi_segitiga))]

In [8]:
luas_segitiga_orlist

[7.5, 24.0, 20.0, 27.0, 28.0]

In [9]:
luas_segitiga_unorlist = [hitung_luas_segitiga(tinggi_segitiga[i], alas_segitiga[3]) for i in range(len(tinggi_segitiga))]

In [10]:
luas_segitiga_unorlist

[22.5, 36.0, 45.0, 27.0, 31.5]

### **Kompleks**

In [11]:
def hitung_volume_prisma_segitiga(tinggi_prisma, tinggi_segitiga, alas_segitiga):
    luas_alas = hitung_luas_segitiga(tinggi_segitiga, alas_segitiga)
    volume = luas_alas * tinggi_prisma
    return volume

In [12]:
volume = hitung_volume_prisma_segitiga(8, 9, 11)

In [13]:
volume

396.0

In [14]:
tinggi_prisma = 30

tinggi_prisma_list = [12, 15, 20, 33, 10]

In [15]:
volume_prisma = []

# Menghitung volume prisma segitiga untuk setiap segitiga dalam list
for i in range(len(tinggi_segitiga)):
    volume = hitung_volume_prisma_segitiga(tinggi_prisma, tinggi_segitiga[i], alas_segitiga[i])
    volume_prisma.append(volume)

In [16]:
volume_prisma

[225.0, 720.0, 600.0, 810.0, 840.0]

In [17]:
volume_orlist = []

# Menghitung volume prisma segitiga untuk setiap segitiga dalam list
for i in range(len(tinggi_segitiga)):
    volume = hitung_volume_prisma_segitiga(tinggi_prisma_list[i], tinggi_segitiga[i], alas_segitiga[i])
    volume_orlist.append(volume)

In [18]:
volume_orlist

[90.0, 360.0, 400.0, 891.0, 280.0]

## **Arbitary**

### **Argumen**

In [19]:
def jumlahkan(*args):
    total = 0
    for angka in args:
        total += angka
    return total

In [20]:
print(jumlahkan(1, 2, 3, 4, 5))
print(jumlahkan(10, 20, 30))
print(jumlahkan(5, 10, 15, 20))

15
60
50

### **Kata Kunci**

In [21]:
def cetak_info(**kwargs):
    for key, value in kwargs.items():
        print(f'{key}: {value}')

In [22]:
cetak_info(nama='John', usia=30, pekerjaan='Developer')
print("")
cetak_info(nama='Jane', kota='Jakarta', hobi='Membaca', kampus="Universita Negeri Jakarta")

nama: John
usia: 30
pekerjaan: Developer

nama: Jane
kota: Jakarta
hobi: Membaca
kampus: Universita Negeri Jakarta

### **Kombinasi**

In [23]:
def gabung(*args, **kwargs):
    hasil = ""
    for arg in args:
        hasil += arg
    for key, value in kwargs.items():
        hasil += f" {key} {value}"
    return hasil

In [24]:
gabung("Halo", " ", "Semuanya", nama="Bima", usia=20, status ="Jomblo")

'Halo Semuanya nama Bima usia 20 status Jomblo'

# **Data Frame**

In [25]:
import numpy as np
import pandas as pd

In [26]:
file_path = "https://raw.githubusercontent.com/BimaBayuUWUUU/DSAI_Batch6_Code/main/Dataset/customer_segmentation_data.csv"

In [28]:
df = pd.read_csv(file_path)

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53503 entries, 0 to 53502
Data columns (total 20 columns):
 #   Column                              Non-Null Count  Dtype
---  ------                              --------------  -----
 0   Customer ID                         53503 non-null  int64
 1   Age                                 53503 non-null  int64
 2   Gender                              53503 non-null  object
 3   Marital Status                      53503 non-null  object
 4   Education Level                     53503 non-null  object
 5   Geographic Information              53503 non-null  object
 6   Occupation                          53503 non-null  object
 7   Income Level                        53503 non-null  int64
 8   Behavioral Data                     53503 non-null  object
 9   Purchase History                    53503 non-null  object
 10  Interactions with Customer Service  53503 non-null  object
 11  Insurance Products Owned            53503 non-null  object
 12  Coverage Amount                     53503 non-null  int64
 13  Premium Amount                      53503 non-null  int64
 14  Policy Type                         53503 non-null  object
 15  Customer Preferences                53503 non-null  object
 16  Preferred Communication Channel     53503 non-null  object
 17  Preferred Contact Time              53503 non-null  object
 18  Preferred Language                  53503 non-null  object
 19  Segmentation Group                  53503 non-null  object
dtypes: int64(5), object(15)
memory usage: 8.2+ MB

In [30]:
df.head(10)

,Customer ID,Age,Gender,Marital Status,Education Level,Geographic Information,Occupation,Income Level,Behavioral Data,Purchase History,Interactions with Customer Service,Insurance Products Owned,Coverage Amount,Premium Amount,Policy Type,Customer Preferences,Preferred Communication Channel,Preferred Contact Time,Preferred Language,Segmentation Group
0,84966,23,Female,Married,Associate Degree,Mizoram,Entrepreneur,70541,policy5,04-10-2018,Phone,policy2,366603,2749,Group,Email,In-Person Meeting,Afternoon,English,Segment5
1,95568,26,Male,Widowed,Doctorate,Goa,Manager,54168,policy5,11-06-2018,Chat,policy1,780236,1966,Group,Mail,In-Person Meeting,Morning,French,Segment5
2,10544,29,Female,Single,Associate Degree,Rajasthan,Entrepreneur,73899,policy5,06-05-2021,Email,policy3,773926,4413,Group,Email,Mail,Evening,German,Segment3
3,77033,20,Male,Divorced,Bachelor's Degree,Sikkim,Entrepreneur,63381,policy5,09-02-2018,Chat,policy2,787815,4342,Family,Text,In-Person Meeting,Anytime,French,Segment3
4,88160,25,Female,Separated,Bachelor's Degree,West Bengal,Manager,38794,policy1,09-10-2018,Chat,policy4,366506,1276,Family,Email,Text,Weekends,English,Segment2
5,60937,41,Female,Separated,Master's Degree,Uttar Pradesh,Nurse,87188,policy5,9/19/2020,Chat,policy1,570757,1106,Individual,Text,Text,Afternoon,English,Segment4
6,37676,55,Male,Single,Bachelor's Degree,Rajasthan,Manager,94891,policy3,07-04-2021,Chat,policy2,604069,3661,Group,In-Person Meeting,Text,Weekends,Mandarin,Segment5
7,54100,35,Male,Married,Master's Degree,Himachal Pradesh,Artist,61003,policy1,11-01-2021,Phone,policy3,418997,1148,Business,Email,Phone,Morning,English,Segment5
8,30476,43,Female,Single,Doctorate,Manipur,Salesperson,116249,policy1,9/20/2020,Mobile App,policy4,319423,2612,Business,In-Person Meeting,Text,Weekends,Mandarin,Segment2
9,39071,32,Female,Single,Master's Degree,Gujarat,Artist,49083,policy3,4/24/2020,Phone,policy1,701577,4595,Group,Phone,Email,Weekends,English,Segment2