# **Library**

## **Importing Libraries**

In [19]:
#Load Libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# **Load Data**

## **Dataset 6: Lowongan Kerja**

In [2]:
file_path_main = 'https://raw.githubusercontent.com/BimaBayuUWUUU/DSAI_Batch6_Code/main/Dataset/data_FP/joined_data.csv'

In [3]:
# Muat dataset Anda
df_main = pd.read_csv(file_path_main)

In [4]:
df_main.head(20)

,id_pekerjaan,id_perusahaan,judul,gaji_maksimal,gaji_tengah,gaji_minimal,periode_pembayaran,jenis_pekerjaan_terformat,lamaran,diperbolehkan_jarak_jauh,...,mata_uang,tipe_kompensasi,industri_1,industri_2,industri_3,skill_1,skill_2,skill_3,nama_perusahaan,jumlah_karyawan
0,3757940104,553718.0,Hearing Care Provider,NaN,5250.00,NaN,MONTHLY,Full-time,NaN,NaN,...,USD,BASE_SALARY,17.0,0.0,0.0,OTHR,NOT,NOT,HearingLife,1171.0
1,3757940025,2192142.0,Shipping & Receiving Associate 2nd shift (Beav...,NaN,NaN,NaN,NaN,Full-time,NaN,NaN,...,NaN,NaN,135.0,0.0,0.0,MGMT,MNFC,NOT,"Metalcraft of Mayville, Inc.",300.0
2,3757938019,474443.0,"Manager, Engineering",NaN,NaN,NaN,NaN,Full-time,NaN,NaN,...,NaN,NaN,147.0,0.0,0.0,ENG,NOT,NOT,"U.S. Tsubaki Power Transmission, LLC",314.0
3,3757938018,18213359.0,Cook,NaN,22.27,NaN,HOURLY,Full-time,NaN,NaN,...,USD,BASE_SALARY,100.0,0.0,0.0,MGMT,MNFC,NOT,Episcopal Communities & Services,36.0
4,3757937095,437225.0,Principal Cloud Security Architect (Remote),275834.0,NaN,205956.0,YEARLY,Full-time,NaN,1.0,...,USD,BASE_SALARY,27.0,25.0,6.0,IT,NOT,NOT,"iHerb, LLC",1260.0
5,3757937037,13727.0,Territory Manager - New Haven,NaN,NaN,NaN,NaN,Full-time,NaN,1.0,...,NaN,NaN,17.0,0.0,0.0,SALE,BD,NOT,ZOLL Medical Corporation,5394.0
6,3757937004,10515052.0,Auto Body Techncian,NaN,NaN,NaN,NaN,Full-time,NaN,NaN,...,NaN,NaN,3198.0,0.0,0.0,MGMT,MNFC,NOT,Boyd Group Services Inc.,244.0
7,3757936167,2915.0,"ACME D8- Asst Store Director (ASD) Sussex, NJ",NaN,NaN,NaN,NaN,Full-time,NaN,NaN,...,NaN,NaN,27.0,0.0,0.0,SALE,BD,NOT,Acme Markets,4039.0
8,3757936097,18213359.0,Dishwasher,NaN,19.30,NaN,HOURLY,Full-time,NaN,NaN,...,USD,BASE_SALARY,100.0,0.0,0.0,MGMT,MNFC,NOT,Episcopal Communities & Services,36.0
9,3757936026,634806.0,Instrumentation Quality Control Representative...,NaN,NaN,NaN,NaN,Contract,12.0,1.0,...,NaN,NaN,104.0,0.0,0.0,QA,NOT,NOT,STSI (Staffing Technical Services Inc.),23.0
10,3757935384,232541.0,Power Utility Distribution Designer II (Remote),NaN,NaN,NaN,NaN,Full-time,NaN,NaN,...,NaN,NaN,3242.0,0.0,0.0,DSGN,ART,IT,"Sigma Technologies, Ltd.",306.0
11,3757935381,19181907.0,Insights Analyst - Auto Industry,64000.0,NaN,58000.0,YEARLY,Full-time,NaN,1.0,...,USD,BASE_SALARY,97.0,0.0,0.0,RSCH,ANLS,IT,Escalent,894.0
12,3757935111,2073870.0,Delivery Director (LLM Data Services),NaN,NaN,NaN,NaN,Full-time,NaN,1.0,...,NaN,NaN,96.0,0.0,0.0,IT,NOT,NOT,Appen,20277.0
13,3757935026,16223627.0,Nurse Practitioner,NaN,NaN,NaN,NaN,Contract,NaN,NaN,...,NaN,NaN,14.0,0.0,0.0,HCPR,NOT,NOT,"Adelphi Medical Staffing, LLC",26.0
14,3757935025,99500291.0,Associate Veterinarian,NaN,NaN,NaN,NaN,Full-time,NaN,NaN,...,NaN,NaN,16.0,0.0,0.0,HCPR,NOT,NOT,Vet Doc Hospitals,1.0
15,3757935012,18583501.0,Quantitative Trader [5048],NaN,NaN,NaN,NaN,Full-time,36.0,NaN,...,NaN,NaN,4.0,0.0,0.0,IT,NOT,NOT,Stealth Startup,16736.0
16,3757935011,82556159.0,Remote Vacation Planner,NaN,NaN,NaN,NaN,Full-time,NaN,1.0,...,NaN,NaN,31.0,0.0,0.0,SALE,BD,NOT,My Travel Connection,3.0
17,3757935010,82556159.0,Remote Vacation Planner,NaN,NaN,NaN,NaN,Full-time,NaN,1.0,...,NaN,NaN,31.0,0.0,0.0,SALE,BD,NOT,My Travel Connection,3.0
18,3757935003,18583501.0,Continuous Manufacturing Expert - Pharmaceutic...,NaN,NaN,NaN,NaN,Full-time,NaN,NaN,...,NaN,NaN,17.0,0.0,0.0,SALE,BD,NOT,Stealth Startup,16736.0
19,3757935001,73013724.0,Sales Manager,350000.0,NaN,125000.0,YEARLY,Full-time,NaN,1.0,...,USD,BASE_SALARY,43.0,0.0,0.0,SALE,BD,NOT,J. Galt,358.0

In [5]:
df_main.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33246 entries, 0 to 33245
Data columns (total 23 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   id_pekerjaan                  33246 non-null  int64
 1   id_perusahaan                 32592 non-null  float64
 2   judul                         33246 non-null  object
 3   gaji_maksimal                 11111 non-null  float64
 4   gaji_tengah                   2241 non-null   float64
 5   gaji_minimal                  11111 non-null  float64
 6   periode_pembayaran            13352 non-null  object
 7   jenis_pekerjaan_terformat     33246 non-null  object
 8   lamaran                       16238 non-null  float64
 9   diperbolehkan_jarak_jauh      4802 non-null   float64
 10  tipe_pendaftaran              33246 non-null  object
 11  tingkat_pengalaman_terformat  24065 non-null  object
 12  jenis_pekerjaan               33246 non-null  object
 13  mata_uang                     13352 non-null  object
 14  tipe_kompensasi               13352 non-null  object
 15  industri_1                    32702 non-null  float64
 16  industri_2                    32702 non-null  float64
 17  industri_3                    32702 non-null  float64
 18  skill_1                       32034 non-null  object
 19  skill_2                       32034 non-null  object
 20  skill_3                       32034 non-null  object
 21  nama_perusahaan               32541 non-null  object
 22  jumlah_karyawan               32590 non-null  float64
dtypes: float64(10), int64(1), object(12)
memory usage: 5.8+ MB

# **Missing Values**

## **Checking Missing Values**

In [6]:
def cek_missing_values(df):
    # Identifikasi nilai yang hilang
    nilai_hilang = df.isnull()

    # Hitung jumlah nilai yang hilang
    jumlah_hilang = nilai_hilang.sum()

    # Cetak jumlah nilai yang hilang untuk setiap kolom
    print('Missing Values pada setiap kolom:')
    print(jumlah_hilang)

In [7]:
cek_missing_values(df_main)

Missing Values pada setiap kolom:
id_pekerjaan                        0
id_perusahaan                     654
judul                               0
gaji_maksimal                   22135
gaji_tengah                     31005
gaji_minimal                    22135
periode_pembayaran              19894
jenis_pekerjaan_terformat           0
lamaran                         17008
diperbolehkan_jarak_jauh        28444
tipe_pendaftaran                    0
tingkat_pengalaman_terformat     9181
jenis_pekerjaan                     0
mata_uang                       19894
tipe_kompensasi                 19894
industri_1                        544
industri_2                        544
industri_3                        544
skill_1                          1212
skill_2                          1212
skill_3                          1212
nama_perusahaan                   705
jumlah_karyawan                   656
dtype: int64

## **Handling Missing Values**

### **Drop Missing Values**

Drop Missing Values dilakukan dengan cara menghapus baris yang memiliki missing values. Hal ini karena jumlah missing values relatif sedikit jika dibandingkan jumlah total data, ditambah lagi missing values tersebut tidak bisa diimputasi dengan metode apapun.

Daftar kolom yang harus didrop:
- `industri_1`
- `industri_2`
- `industri_3`

In [8]:
df_drop_na = df_main.copy()

In [9]:
# Menjatuhkan baris dengan nilai yang hilang di kolom 'id_perusahaan'
df_drop_na.dropna(subset=['industri_1'], inplace=True)

In [10]:
cek_missing_values(df_drop_na)

Missing Values pada setiap kolom:
id_pekerjaan                        0
id_perusahaan                     150
judul                               0
gaji_maksimal                   21729
gaji_tengah                     30487
gaji_minimal                    21729
periode_pembayaran              19514
jenis_pekerjaan_terformat           0
lamaran                         16732
diperbolehkan_jarak_jauh        28015
tipe_pendaftaran                    0
tingkat_pengalaman_terformat     8637
jenis_pekerjaan                     0
mata_uang                       19514
tipe_kompensasi                 19514
industri_1                          0
industri_2                          0
industri_3                          0
skill_1                          1007
skill_2                          1007
skill_3                          1007
nama_perusahaan                   201
jumlah_karyawan                   152
dtype: int64

Dapat dilihat bahwa ketika fitur `industri_1` dihapus, maka fitur `industri_2` dan `industri_3` juga ikut terhapus. Hal ini karena fitur `industri_2` dan `industri_3` memiliki missing values yang sama persis dengan fitur `industri_1`. Oleh karena itu, fitur `industri_2` dan `industri_3` tidak perlu di-drop secara terpisah.

### **Droping Fitur**

Droping Fitur dilakukan karena missing values yang ada sangat banyak dan telah ada fitur lain yang dapat menggantikan informasi yang terdapat pada fitur yang di-drop. Namun fitur lain ini harus dilakukan Feature Engineering terlebih dahulu.

Daftar kolom yang harus didrop:
- `gaji_tengah`

In [11]:
def drop_fitur(df, fitur):
    if isinstance(fitur, str):  # Jika hanya satu fitur yang ingin dijatuhkan
        df.drop(columns=[fitur], inplace=True)
    elif isinstance(fitur, list):  # Jika lebih dari satu fitur yang ingin dijatuhkan
        df.drop(columns=fitur, inplace=True)
    else:
        raise TypeError("Parameter 'fitur' harus berupa string atau list.")

In [12]:
df_drop_ft = df_drop_na.copy()

In [13]:
drop_fitur(df_drop_ft, ['gaji_tengah'])

In [14]:
cek_missing_values(df_drop_ft)

Missing Values pada setiap kolom:
id_pekerjaan                        0
id_perusahaan                     150
judul                               0
gaji_maksimal                   21729
gaji_minimal                    21729
periode_pembayaran              19514
jenis_pekerjaan_terformat           0
lamaran                         16732
diperbolehkan_jarak_jauh        28015
tipe_pendaftaran                    0
tingkat_pengalaman_terformat     8637
jenis_pekerjaan                     0
mata_uang                       19514
tipe_kompensasi                 19514
industri_1                          0
industri_2                          0
industri_3                          0
skill_1                          1007
skill_2                          1007
skill_3                          1007
nama_perusahaan                   201
jumlah_karyawan                   152
dtype: int64

### **Imputasi Missing Values**

#### Dengan `0` atau `Unkonwn`

Imputasi dengan menggunakan `0` atau `Unknown` dilakukan pada fitur yang memiliki missing values karena memang tidak ada informasi yang dapat diisi pada fitur tersebut namun fitur tersebut tetap dibutuhkan dalam analisis. Selain itu fitur dengan nilai boolean juga dapat diisi dengan `0` karena fitur tersebut hanya memiliki dua nilai.

Fitur Boolean:
- `diperbolehkan_jarak_jauh`

Fitur lain yang diisi dengan `0` atau `Unknown`:
- `id_perusahaan`
- `nama_perusahaan`
- `jumlah_karyawan`
- `lamaran`

In [15]:
df_fill_naZer = df_drop_ft.copy()

In [16]:
def isi_missing_values(df,kolom):
    for fitur in kolom:
        if pd.api.types.is_numeric_dtype(df[fitur].dtype):  # Memeriksa apakah kolom numerik
            df[fitur].fillna(0, inplace=True)
        else:  # Jika bukan numerik
            df[fitur].fillna("unknown", inplace=True)

In [17]:
isi_missing_values(df_fill_naZer, ['diperbolehkan_jarak_jauh', 'id_perusahaan', 'lamaran', 'nama_perusahaan', 'jumlah_karyawan'])

In [18]:
cek_missing_values(df_fill_naZer)

Missing Values pada setiap kolom:
id_pekerjaan                        0
id_perusahaan                       0
judul                               0
gaji_maksimal                   21729
gaji_minimal                    21729
periode_pembayaran              19514
jenis_pekerjaan_terformat           0
lamaran                             0
diperbolehkan_jarak_jauh            0
tipe_pendaftaran                    0
tingkat_pengalaman_terformat     8637
jenis_pekerjaan                     0
mata_uang                       19514
tipe_kompensasi                 19514
industri_1                          0
industri_2                          0
industri_3                          0
skill_1                          1007
skill_2                          1007
skill_3                          1007
nama_perusahaan                     0
jumlah_karyawan                     0
dtype: int64

#### Nilai Continuous