In [128]:
import pandas as pd
from scipy.stats import chi2_contingency

# **AB Testing**

In [129]:
# Membuat data frame dari data yang diberikan
data = {'Interface': ['X', 'Y'],
        'Total Users': [2500, 2200],
        'Active Users': [729, 802],
        'Inactive Users': [2500 - 729, 2200 - 802]}
df = pd.DataFrame(data)

In [130]:
# Menampilkan data frame
print("Data Frame:")
df.head()

Data Frame:

  Interface  Total Users  Active Users  Inactive Users
0         X         2500           729            1771
1         Y         2200           802            1398

In [131]:
df2= df.assign(CTR=df["Active Users"] / df["Total Users"])

In [132]:
df2.head()

  Interface  Total Users  Active Users  Inactive Users       CTR
0         X         2500           729            1771  0.291600
1         Y         2200           802            1398  0.364545

In [133]:
# Menentukan tabel kontingensi
observed = df[['Active Users', 'Inactive Users']].values

In [134]:
# Melakukan uji chi-square
chi2, p, dof, expected = chi2_contingency(observed)

In [135]:
# Menampilkan hasil
print("\nNilai chi-square:", chi2)
print("P-value:", p)
print("Derajat kebebasan:", dof)
print("Ekspektasi:")
print(pd.DataFrame(expected, columns=['Active Users', 'Inactive Users'], index=df['Interface']))

Nilai chi-square: 28.01927742721826
P-value: 1.2011293328108103e-07
Derajat kebebasan: 1
Ekspektasi:
           Active Users  Inactive Users
Interface
X            814.361702     1685.638298
Y            716.638298     1483.361702

In [136]:
# Menginterpretasi hasil
alpha = 0.05
if p < alpha:
    print("\nTerdapat hubungan yang signifikan antara skenario interface dan proporsi pengguna yang aktif menggunakan fitur 'Kegiatan Klan'.")
else:
    print("\nTidak cukup bukti untuk menyimpulkan adanya hubungan yang signifikan antara skenario interface dan proporsi pengguna yang aktif menggunakan fitur 'Kegiatan Klan'.")

Terdapat hubungan yang signifikan antara skenario interface dan proporsi pengguna yang aktif menggunakan fitur 'Kegiatan Klan'.

# **Lanjutan Cost per User**

In [137]:
# Data dari A/B test
data = {
    'Interface': ['X', 'Y'],
    'Total_Users': [2500, 2200],
    'Active_Users': [729, 802],
    'Cost_Per_User': [25, 32]
}

# Membuat DataFrame
df3 = pd.DataFrame(data)

In [138]:
# Menghitung tingkat engagement
df3['Engagement'] = df3['Active_Users'] / df3['Total_Users']

In [139]:
# Menghitung profit per pengguna
profit_per_user = 17.5
df3['Profit_Per_User'] = profit_per_user

In [140]:
# Menghitung Total Cost
df3['Total_Cost'] = df3['Cost_Per_User'] * df3['Total_Users']

In [141]:
# Menghitung Total Profit
df3['Total_Profit'] = df3['Active_Users'] * df3['Profit_Per_User']

In [142]:
# Menghitung profit bersih
df3['Net_Profit'] = df3['Total_Profit'] - df3['Total_Cost']

In [143]:
# Menghitung Return on Investment (ROI)
df3['ROI'] = df3['Net_Profit'] / df3['Total_Cost']

# Menentukan interface dengan ROI tertinggi
recommendation = df3.loc[df3['ROI'].idxmax(), 'Interface']

In [144]:
# Definisikan bobot untuk setiap faktor
weight_engagement = 0.6  # Bobot tingkat engagement
weight_cost = 0.4  # Bobot biaya operasional

# Menghitung skor untuk setiap interface
df3['Score'] = (df3['Engagement'] * weight_engagement) - (df3['Cost_Per_User'] * weight_cost)

# Menentukan interface dengan skor tertinggi
recommended_interface = df3.loc[df3['Score'].idxmax(), 'Interface']

In [145]:
df3

,Interface,Total_Users,Active_Users,Cost_Per_User,Engagement,Profit_Per_User,Total_Cost,Total_Profit,Net_Profit,ROI,Score
0,X,2500,729,25,0.291600,17.5,62500,12757.5,-49742.5,-0.795880,-9.825040
1,Y,2200,802,32,0.364545,17.5,70400,14035.0,-56365.0,-0.800639,-12.581273

In [146]:
print("Rekomendasi Berdasarkan ROI: Gunakan Interface", recommendation)

print("Rekomendasi Berdasdarkan Weight Score: Gunakan Interface", recommended_interface)

Rekomendasi Berdasarkan ROI: Gunakan Interface X
Rekomendasi Berdasdarkan Weight Score: Gunakan Interface X